#headline{
	border: 5px red dotted;
	color:  blue;
	text-decoration: underline red;
}

html{
	font-family: 'Gayathri', sans-serif;
	background-image: url('https://banner2.kisspng.com/20171220/bil/captain-america-shield-png-5a3a05256b6c09.246674251513751845443780.jpg');
	background
}

	h2 {
		color: blue;
	}
